.lable-required:after {
    content: "*";
    color: #f00;
}

.label-required:after {
    content: "*";
    color: #f00;
}

.main-sidebar,
.main-sidebar::before {
    width: 200px;
}

.layout-fixed .brand-link {
    width: 200px;
    text-align: center;
}

.mx-datepicker {
    width: 100% !important;
}

@media (min-width: 768px) {

    body:not(.sidebar-mini-md) .content-wrapper,
    body:not(.sidebar-mini-md) .main-footer,
    body:not(.sidebar-mini-md) .main-header {
        transition: margin-left 0.3s ease-in-out;
        margin-left: 200px;
    }
}
