.mce-container-body {
    background-color: #fff;
}

.mce-content-body {
    font-size: 20px;


    img {
        max-width: 100%;
        height: auto !important;
    }

    figure {
        max-width: 100%;
    }

}

.mce-top-part {
    background-color: #fff;
}

.aligncenter {
    margin: auto;
    text-align: center;
}

.alignnone img,
.aligncenter img {
    width: 100%;
}

.wp-caption-text {
    font-size: 17px;
    font-style: italic;
}
